.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    direction: rtl;
    box-shadow:0 2px 5px 1px rgba(64,60,67,.16);
    margin-bottom:15px;
    padding: 10px;
    border-radius: 10px;
}
.container h3 {
    text-align: right;
}
.container span {
    color: rgb(29, 143, 0);
}


@media (max-width: 700px) {
    .container {
        width: 450px;
    }
}
@media (max-width: 500px) {
    .container {
        width: 300px;
    }
}
@media (max-width: 330px) {
    .container {
        width: 280px;
    }
}